@import "./tables.scss";

.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 936px;
  margin: 0 auto;
  padding: 40px;
}

.markdown-body pre > code {
  font-family: 'Fira Code', monospace !important;
  background-color: unset !important;
  color: unset !important;
  border: unset !important;
  border-color: unset !important;
}

.markdown-body pre {
  border: unset !important;
  border-radius: 5;
  font-size: unset !important;
  font-family: 'Fira Code', monospace !important;
  background-color: rgb(39,39,39) !important;
}

.markdown-body table {
  @extend %table;
}

.markdown-body li > p {
  margin-bottom: auto;
  margin-top: 0.2em;
}

.markdown-body details summary {
  cursor: pointer;
}

@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
}

.nuxt-content-container img {
  max-width: 100%;
  object-fit: contain;
}

.nuxt-content-container img[align="right"] {
  padding-left: 20px;
}

.nuxt-content-container img[align="left"] {
  padding-right: 20px;
}

.nuxt-content-container hr {
  margin-top: 10px;
  margin-bottom: 10px;
  box-sizing: initial;
  height: 0;
  overflow: visible;
}
